{
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {},
  "parser": "babel-eslint",
  "rules": {
    "no-console": 2, // disallow use of console (off by default in the node environment)
    "comma-dangle": 2, // disallow trailing commas in object literals
    "no-alert": 1, // disallow the use of alert, confirm, and prompt
    "no-spaced-func": 2, // disallow space between function identifier and application
    "space-after-keywords": 2, // require a space after certain keywords (off by default)
    "space-infix-ops": 2 // require spaces around operators
  }
}
