body
  background-color #0A0C0E

.text_center
  text-align center

.error
  color #DB2828

.good
  color #21BA45

.search
  .column
    max-width 500px !important

.card_image
  max-height 300px
  overflow hidden

.mastery_icon
  position absolute
  top -12px
  z-index 10

.strikethrough
  text-decoration line-through

.overview_item
  .ui.avatar.image
    width 2.5em
    height 2.5em

.overview_column_banner
  h3
    margin-top 6px

.overview_text
  width 180px
  // text-align center

.champ_profile
  margin-top 10px
  margin-left 40px
  width 150px
  text-align center

.details_champ_profile
  margin-top -20px
  margin-left 40px
  width 100px
  text-align center

.details_information
  .ui.piled.segment
    margin 1rem 0

.details_search
  .ui.selection.dropdown
    min-height 3.6em
    line-height 1.7em

.details_chart
  .axis path,
  .axis line
    fill none
    stroke white
    shape-rendering crispEdges


  .y.axis text
    display none

  .axis text
    fill white

  .line
    fill none
    stroke white
    stroke-width 3.5px

.facts_text
  width 130px
  text-align center

.facts_per_game
  left -20px
