body
  background-color #1B1C1D

.text_center
  text-align center

.card_image
  max-height 300px
  overflow hidden

.overview_item
  .ui.avatar.image
    width 2.5em
    height 2.5em

.overview_column_banner
  h3
    margin-top 6px

.overview_text
  width 130px
  text-align center

.champ_profile
  margin-top 10px
  margin-left 40px
  width 150px
  text-align center

.details_information
  .ui.piled.segment
    margin 1rem 0

.details_search
  .ui.selection.dropdown
    min-height 3.6em
    line-height 1.7em
